.wrt-index {
  background-color: yellow;
  width: 100px;
  height: 100px;
}

.lay {
  width: 100%;
  height: 100%;
}

.side {
  overflow-y: auto;
}

.text {
  word-wrap: break-word;

}

.main {
  padding: 10px;

  &-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &-table {
    margin-top: 10px;
  }
}

.exp {
  margin: 10px 0;
}

:global {
  .ant-layout-header {
    padding: 0;
  }
}

.head {
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

:global {
  .ant-menu {
    line-height: 30px !important;
  }
}